[Unit]
Description=Xelis Node
After=network.target

[Service]
Type=simple
GuessMainPID=no
ExecStart=/opt/miners/xelis-node/aarch64-unknown-linux-gnu/xelis_daemon --allow-boost-sync
StandardOutput=append:/var/log/xelis-node.log
StandardError=append:/var/log/xelis-node.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target