{
  "Settings": {
    "baseUrl": "https://mine.qubic.li/",
    "overwrites": {},
    "accessToken": "{{ qubic_li_token }}",
    "amountOfThreads": {{ ansible_processor_cores * ansible_processor_threads_per_core }},
    "alias": "{{ inventory_hostname }}"
  }
}