[Unit]
Description=XMRig Daemon
After=network.target

[Service]
Type=simple
GuessMainPID=no
ExecStart=/opt/miners/xmrig/xmrig -c /opt/miners/xmrig/config.json -l /var/log/xmrig.log -B
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
