{
    "Settings": {
        "amountOfThreads": {{ ansible_processor_cores * ansible_processor_threads_per_core }},
        "payoutId": "{{ qubic_wallet }}",
        "alias": "{{ inventory_hostname }}"
    }
}